<h3><%= @article.title %></h3>
<h6><%= @article.content %></h6>

<%= link_to "back", articles_path, style: "display: block" %>
<%= link_to "edit", edit_article_path(@article), style: "display: block" %>
<%= link_to "delete", delete_article_path(@article), method: :delete, style: "display: block", data: {confirm: "Are you sure?"} %> 